.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}  
.badge {
  display: inline-block;
  min-width: 16px; /* pixel unit */
  padding: 20px 20px; /* pixel unit */
  border-radius: 50%;
  font-size: 15px;
  text-align: center;
  background: #1779ba;
  color: #fefefe;
}