.containerStyles{
    height: 20%;
    width: 50%;
    background-color: #e0e0de;
    border-radius: 50px;
    margin-top:30px;

  }

.fillerStyles{
    height: 100%;
    width: 70%;
    background-color: #1779ba;
    border-radius: inherit;
    text-align: right;
  }

.labelStyles{
    padding: 10px;
    color: white;
    font-weight: bold;
  }
.heading
{
    padding: 3rem 5rem;
}